<div class="game-tabs">
    <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
        <mat-tab label="About">
            <!-- checking if there i any tabs details to be dispalyed -->
            <p class="game-tabs-par" *ngIf="game.parent_platform?.length">
                Platforms:
                <!-- not diplaing the coma if it last item in the array -->
                <span *ngFor="let game of game.parent_platform; let last = last">{{ game.platform.name }}<span
                        *ngIf="!last">, </span></span>
            </p>
            <p *ngIf="game.publishers?.length" class="game-tabs-par">
                Publishers:
                <span *ngFor="let publisher of game.publishers; let last = last">{{ publisher.name }}<span
                        *ngIf="!last">, </span></span>
            </p>
            <p *ngIf="game.website" class="game-tabs-par">
                Website:
                <a href="{{game.website}}" target="_blank" class="game-tabs-link">{{ game.website }}</a>
            </p>
            <div class="game-description" [innerHTML]="game.description"></div>
            <p class="game-tabs-votes">
                <ng-container *ngFor="let rating of game.ratings">
                    <span *ngIf="rating.title === 'exceptional'">
                        <mat-icon class="game-votes-up">thumb_up</mat-icon>
                        <span class="game-votes">{{rating.count || 0}}</span>
                    </span>
                    <span *ngIf="rating.title === 'skip'">
                        <mat-icon class="game-votes-down">thumb_down</mat-icon>
                        <span class="game-votes-count">{{rating.count || 0}}</span>
                    </span>
                </ng-container>
            </p>
        </mat-tab>
        <mat-tab label="Screenshots" *ngIf="game.screenshots?.length">
            <img class=" game-screenshot" *ngFor="let screenshot of game.screenshots" src="{{screenshot.image}}"
                alt="Screenshots" />

        </mat-tab>
        <mat-tab label="Trailers" *ngIf="game.trailers?.length">
            <video controls *ngFor="let trailer of game.trailers" class="game-trailer">
                <source src="{{ trailer.data?.max }}" type="video/mp4 " />
                Browser does not support this video
            </video>
        </mat-tab>
    </mat-tab-group>
</div>